*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
html{
    background-color: #FAFAFA;
}
.bg{
    background: url("./images/hero-cover.3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 150px;
}
.container{
    display: flex;
    flex-flow: row wrap;
}
.containerC{
    display: flex;
    flex-flow: column wrap;
}
.navigation{
    justify-content: space-around;
    padding: 20px;
    color: white;
    font-weight: bold;
}
.nav ul li{
    display: inline;
    list-style-type: none;
    padding: 0 20px;
}
.nav ul li a{
    color: #ffffff;
    text-decoration: none;

}
.login h2, .login button{
    display: inline;
    margin: 0 20px;
}
.login button{
    background-color: #24A6F0;
    color: #ffffff;
    padding: 15px 20px;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
}
.login h2{
    font-size: 1em;
}
.login a{
    text-decoration: none;
    color: #ffffff;
}
.bunnerIns{
    justify-content: center;
    color: #ffffff;
    margin:100px;
    align-items: center;
}
.insureServ{
    text-align: center;
    
}
.insureServ h2{
    font-size: 3.5em;
    margin: 25px;
}
.insureServ p{
    font-size: 1.5em;
}
.ensureBtn{
    justify-content: center;
    margin: 25px;
}
.ensureBtn1{
    background-color: #24A6F0;
    color: #ffffff;
    padding: 15px 25px;
    margin: 10px;
    border-style: none;
    border-radius: 70px;
    font-size: 1em;
    font-weight: bold;
}
.ensureBtn2{
    background-color: #24A6F0;
    color: #ffffff;
    padding: 15px 25px;
    margin: 10px;
    border-style: none;
    border-radius: 70px;
    font-size: 1em;
    font-weight: bold;
}
.cards-1{
    justify-content: center;
    transform: translate(0,80px);
}
.cards-1 div{
    color: #000;
    background-color: #ffffff;
    margin: 0 25px;
    padding: 10px;
    box-shadow: 5px 10px 5px grey;
}
.cards-1 div p{
    font-size: 1.2em;
    color: grey;
}
.cards-1 div h2{
    margin: 10px 0;
    color: #252B42;
}
.fa-book, .fa-bookmark, .fa-user-friends{
    color: #24A6F0;
    font-size: 2em;
}
.cards-2{
    justify-content: center;
    background-color: white;
  
}
.cards-2 div{
    text-align: center;
    color: #000;
    background-color: #ffffff;
    margin: 30px;
    padding: 20px;
    justify-content: center;
}
.cards-2 div p{
    font-size: 1.2em;
    color: grey;
}
.cards-2 div h3{
    margin: 10px 0;
    color: #252B42;
}
.industry{
    text-align: center;
    margin: 100px;
}
.industry h2{
    font-size: 3.5em;
    color: #252B42;
}
.industry p{
    font-size: 1.2em;
    color: grey;
    
}
.userCards{
    justify-content: center;
   
}
.userInfo{
    border: 1px solid rgb(180, 180, 180);
    margin: 50px;
    background-color: #ffffff;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    border-radius: 5px;
}
.userInfo img{
    height: 180px;
}
.userInfo p{
font-size: 20px;
padding: 50px 0;
color: grey;
}
.fa-star{
    color: yellow;
    font-size: 20px;
}
.LogoIcons{
    justify-content: center;
    margin-top: 150px;
}
.LogoIcons img{
    margin: 50px;
    height: 60px;
}
.Newsletter{
    justify-content: space-around;
    background-image: linear-gradient(to right, #034588, #D35088);
    width: 80%;
    margin: auto;
    padding: 30px;
    margin-top: 50px;
}
.subNews{
    font-size: 2em;
    color: #ffffff;
    margin: 0 30px;
    text-align: left;
}
.subInput{
    margin: 0 30px;
}
.subInput input{
    padding: 20px 100px 20px 10px;
    font-size: 1.5em;
    margin-right: 0;
    border-radius: 5px;
}
.subInput button{
    padding: 20px;
    font-size: 1.5em;
    margin-left: 0px;
    color: #ffffff;
    background-color: #24A6F0;
    border-radius: 5px;
}
.price{
    text-align: center;
    margin-top: 150px;
}
.price h2{
    font-size: 3em;
    color: #252B42;
    padding: 20px;
}
.price p{
    font-size: 1.5em;
    color: grey;
}