*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';

}
html{
    background-color: #FAFAFA;
}
.bg{
    background: url("./images/hero-cover.3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 120px;
}
.clr{
    background: rgba(0, 0, 0, 0.5);
}
.container{
    display: flex;
    flex-flow: row wrap;
}
.containerC{
    display: flex;
    flex-flow: column wrap;
}
.navigation{
    justify-content: space-around;
    padding: 16px;
    color: white;
    font-weight: bold;
}
.nav ul li{
    display: inline;
    list-style-type: none;
    padding: 0 16px;
}
.nav ul li a{
    color: #ffffff;
    text-decoration: none;

}
.login h2, .login button{
    display: inline;
}
.login button{
    background-color: #24A6F0;
    color: #ffffff;
    padding: 12px 16px;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
}
.login h2{
    font-size: 15px;
    margin-right: 32px;
}
.login a{
    text-decoration: none;
    color: #ffffff;
}
.bunnerIns{
    justify-content: center;
    color: #ffffff;
    margin:80px;
    align-items: center;
}
.insureServ{
    text-align: center;
    
}
.insureServ h2{
    font-size: 40px;
    margin: 20px;
}
.insureServ p{
    font-size: 20px;
}
.ensureBtn{
    justify-content: center;
    margin: 20px;
}
.ensureBtn1{
    background-color: #24A6F0;
    color: #ffffff;
    padding: 12px 20px;
    margin: 8px;
    border-style: none;
    border-radius: 70px;
    font-size: 13px;
    font-weight: bold;
}
.ensureBtn1:hover{
    background-color: rgba(0, 0, 0, 0);
    border-color: #ffffff;
}
.ensureBtn2{
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    padding: 12px 20px;
    margin:8px;
    border-color: #ffffff;
    border-radius: 70px;
    font-size: 13px;
    font-weight: bold;
}
@keyframes mytrans{
    from{background-color: rgba(0, 0, 0, 0);}
    to{background-color: #24A6F0;}
}
.ensureBtn2:hover{
    background-color: #24A6F0;
    animation: mytrans 5s;
}
.cards-1{
    justify-content: center;
    transform: translate(0,64px);
}
.cards-1 div{
    color: #000;
    background-color: #ffffff;
    margin: 0 20px;
    padding: 8px;
    box-shadow: 4px 8px 4px grey;
}
.cards-1 div p{
    font-size: 15px;
    color: grey;
}
.cards-1 div h2{
    margin: 8px 0;
    color: #252B42;
}
.fa-book, .fa-bookmark, .fa-user-friends{
    color: #24A6F0;
    font-size: 26px;
}
 .cards-1 .satisfaction {
    background-color: #24A6F0;
}
.cards-1 .satisfaction h2, .cards-1 .satisfaction p, .cards-1 .satisfaction i{
    color: #ffffff;
}
.cards-2{
    justify-content: center;
    background-color: white;
  
}
.cards-2 div{
    text-align: center;
    color: #000;
    background-color: #ffffff;
    margin: 24px;
    padding: 16px;
    justify-content: center;
}
.cards-2 div p{
    font-size: 16px;
    color: grey;
}
.cards-2 div h3{
    margin: 8px 0;
    color: #252B42;
}
.industry{
    text-align: center;
    margin: 80px;
}
.industry h2{
    font-size: 45px;
    color: #252B42;
}
.industry p{
    font-size: 16px;
    color: grey;
    
}
.userCards{
    justify-content: center;
   
}
.userInfo{
    border: 1px solid rgb(180, 180, 180);
    margin: 40px;
    background-color: #ffffff;
    text-align: center;
    padding: 40px;
    border-radius: 5px;
}
.userInfo img{
    height: 144px;
}
.userInfo p{
font-size: 16px;
padding: 40px 0;
color: grey;
}
.fa-star{
    color: yellow;
    font-size: 16px;
}
.LogoIcons{
    justify-content: center;
    margin-top: 120px;
}
.LogoIcons img{
    margin: 40px;
    height: 48px;
}
.Newsletter{
    justify-content: space-around;
    background-image: linear-gradient(to right, #034588, #D35088);
    width: 80%;
    margin: auto;
    padding: 24px;
    margin-top: 40px;
}
.subNews{
    font-size: 26px;
    color: #ffffff;
    margin: 0 24px;
    text-align: left;
}
.subInput{
    margin: 0 24px;
}
.subInput input{
    padding: 16px 80px 16px 10px;
    font-size: 16px;
    margin-right: 0;
    border-radius: 5px;
    border-style: none;
}
.subInput button{
    padding: 16px;
    font-size: 16px;
    margin-left: 0px;
    color: #ffffff;
    background-color: #24A6F0;
    border-radius: 5px;
    border-style: none;
}
.price{
    text-align: center;
    margin-top: 120px;
}
.price h2{
    font-size: 32px;
    color: #252B42;
    padding: 16px;
}
.price p{
    font-size: 20px;
    color: grey;
}
.free{
    border: 1px solid #24A6F0;
    border-radius: 5px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-right: 1px;
}
.offersCard{
    justify-content: center;
}
.free h2{
    font-size: 24px;
    color: #252B42;
    padding: 12px;
}
.free h3{
    font-size: 16px;
    color: grey;
    padding: 12px;
}
.dollar{
    font-size: 44px;
    color: #24A6F0;
}
.dollarsign{
    font-size: 20px;
    color: #24A6F0;
}
.freecentr{
    text-align: center;
}
.offers{
    font-size: 20px;
    line-height: 2em;
}
.fa-check-circle{
    color: #50C172;
    font-size: 18px;
}
.checkdiff{
    color: #BDBDBD;
}
.tryBtn button{
    padding: 12px 80px;
    font-size: 16px;
    background-color: #24A6F0;
    color: #ffffff;
    border-radius: 5px;
    margin: 40px auto;
    justify-content: center;
    border-style: none;
}
.standard{
    background-color: #252B42;
    align-items: center;
}
.standard h2, .standard h3, .standard p{
    color: #ffffff;
}
.branch{
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}
.branch img{
    width:  440px;
    object-fit: contain;
    padding: 80px;
}
.branch h2{
    font-size: 32px;
    padding-bottom: 16px;
}
.branch p{
    font-size: 16px;
}
.branchcol{
    background-color: #252B42;
    margin-top: 80px;
    justify-content: center;
    height: 120vh;
}
.world{
    color: #ffffff;
    padding: 80px 120px;
}
form input, select, #submit{
    display: block;
    padding: 16px 160px 16px 16px;
    width: 90%;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}

.contact-cov img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding-left: 0;

}
.contactForm{
    display: flex;
    flex-flow: row wrap;
    width: 60vw;
    background-color: #ffffff;
    justify-content: space-between;
    height: 80vh;
    transform: translate(0, 10vh);
   
}
.contactForm .contact-cov{
width: 30%;
padding-left: 0;
}
.formBook h3{
    text-align: center;
    font-size: 20px;
    color: #252B42;
    padding: 16px;
    margin: 16px;
}
label{
    font-size: 16px;
    font-weight: bold;
    color: #252B42;
}
#submit{
    text-align: center;
    background-color:#24A6F0;
    color: #ffffff;
    padding: 8px 176px;
    border-style: none;
    padding: 16px 88px 16px 88px;
}
.contUs button{
    padding: 12px 20px;
    font-size: 16px;
    margin-left: 0px;
    color: #ffffff;
    background-color: #24A6F0;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
}
.consAgency{
    margin-top: 60vh;
    justify-content: space-around;
}
.consAgency h2{
    color: #252B42;
    font-size: 26px;
}
.consAgency p{
    font-size: 16px;
    color: grey;
    padding: 8px 0;
}
.infoLinks{
    justify-content: space-evenly;
    padding: 40px;
    margin-top: 40px;
    background-color: #ffffff;
}
.infoCard h2{
    padding: 8px;
    color: #252B42;
}
.infoCard ul li{
    list-style-type: none;
    padding: 8px;
}
.infoCard ul li a{
    text-decoration: none;
    color: grey;
    font-size: 16px;
}
.infoCard i{
    color: #24A6F0;
    font-size: 16px;
}
footer{
    justify-content: space-around;
    font-size: 16px;
    padding: 20px 0;
}
footer p{
    color: grey;
}
footer i{
    padding: 0 5px;
    font-size: 16px;
   color: #24A6F0;
}
.socials{
    padding: 16px 0;
}
.search{
    display: none;
}
.search i{
    padding: 7px;
    color: grey;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width:768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body, html{
        overflow-x: hidden;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
    }
    .navigation{
        background-color: #ffffff;
        color: #252B42;
    }
     .nav ul li{
        display: block;
        text-align: center;
        padding: 8px 0;
        
    }
    .nav ul li a{
        color: grey;
    }
    .login{
        display: none;
    }
    .formBook{
        width: 100%;
    }
    .cards-1 div{
        margin: 20px auto;
    }
    .bg{
        height: auto;
    }
    .cards-1{
        transform: translate(0,0);
    }
    .userInfo{
        margin: 16px 40px;
        padding: 20px 10px;
        width: 80vw;
    }
    .userCards{
        justify-content: center;
    }
    .userInfo img{
        width: 60%;
        height: auto;
    }
    .LogoIcons-a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .subNews{
        text-align: center;
    }
    .subInput button{
        padding: 8px;
        font-size: 16px;
    }
    .subInput input{
        padding: 8px;
        font-size: 16px;
        margin: 8px auto;
    }
    .price{
        margin: 40px 40px;
    }
    .free{
        margin: 16px 40px;
    }
    .world{
        padding: 40px 80px;
    }
    .branchcol{
        height: 100%;
    }
    .contactForm{
        transform: translate(0, 0);
        align-items: center;
        height: auto;
        width: auto;
    }
    .formBook{
        display: flex;
        width: 100%;
        margin: 16px 40px;
    }
    
    .contactForm .contact-cov{
     object-fit: contain;
     width: 100%;
     height: 50vh;
        }
    form input, select, #submit{
            padding: 16px 144px 16px 16px;
            width: 100%;
            margin-top: 20px;
        } 
        #submit{
            border-style: none;
            text-align: center;
            padding: 16px 80px 16px 80px;
        }
    .consAgency{
        margin-top: 40px;
        padding-left: 80px;
    }
    .contUs{
        margin: 40px 0;
    }
    .infoCard{
        padding-left: 40px;
        margin-top: 24px;
    }
    footer{
        padding-left: 40px;
    }
    .search{
        display: inline-block;
    }
    
}
