*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
html{
    background-color: #FAFAFA;
}
.bg{
    background: url("./images/hero-cover.3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 150px;
}
.clr{
    background: rgba(0, 0, 0, 0.5);
}
.container{
    display: flex;
    flex-flow: row wrap;
}
.containerC{
    display: flex;
    flex-flow: column wrap;
}
.navigation{
    justify-content: space-around;
    padding: 20px;
    color: white;
    font-weight: bold;
}
.nav ul li{
    display: inline;
    list-style-type: none;
    padding: 0 20px;
}
.nav ul li a{
    color: #ffffff;
    text-decoration: none;

}
.login h2, .login button{
    display: inline;
}
.login button{
    background-color: #24A6F0;
    color: #ffffff;
    padding: 15px 20px;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
}
.login h2{
    font-size: 18px;
    margin-right: 40px;
}
.login a{
    text-decoration: none;
    color: #ffffff;
}
.bunnerIns{
    justify-content: center;
    color: #ffffff;
    margin:100px;
    align-items: center;
}
.insureServ{
    text-align: center;
    
}
.insureServ h2{
    font-size: 50px;
    margin: 25px;
}
.insureServ p{
    font-size: 25px;
}
.ensureBtn{
    justify-content: center;
    margin: 25px;
}
.ensureBtn1{
    background-color: #24A6F0;
    color: #ffffff;
    padding: 15px 25px;
    margin: 10px;
    border-style: none;
    border-radius: 70px;
    font-size: 16px;
    font-weight: bold;
}
.ensureBtn1:hover{
    background-color: rgba(0, 0, 0, 0);
    border-color: #ffffff;
}
.ensureBtn2{
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    padding: 15px 25px;
    margin: 10px;
    border-color: #ffffff;
    border-radius: 70px;
    font-size: 16px;
    font-weight: bold;
}
@keyframes mytrans{
    from{background-color: rgba(0, 0, 0, 0);}
    to{background-color: #24A6F0;}
}
.ensureBtn2:hover{
    background-color: #24A6F0;
    animation: mytrans 5s;
}
.cards-1{
    justify-content: center;
    transform: translate(0,80px);
}
.cards-1 div{
    color: #000;
    background-color: #ffffff;
    margin: 0 25px;
    padding: 10px;
    box-shadow: 5px 10px 5px grey;
}
.cards-1 div p{
    font-size: 18px;
    color: grey;
}
.cards-1 div h2{
    margin: 10px 0;
    color: #252B42;
}
.fa-book, .fa-bookmark, .fa-user-friends{
    color: #24A6F0;
    font-size: 32px;
}
.cards-2{
    justify-content: center;
    background-color: white;
  
}
.cards-2 div{
    text-align: center;
    color: #000;
    background-color: #ffffff;
    margin: 30px;
    padding: 20px;
    justify-content: center;
}
.cards-2 div p{
    font-size: 1.2em;
    color: grey;
}
.cards-2 div h3{
    margin: 10px 0;
    color: #252B42;
}
.industry{
    text-align: center;
    margin: 100px;
}
.industry h2{
    font-size: 56px;
    color: #252B42;
}
.industry p{
    font-size: 19px;
    color: grey;
    
}
.userCards{
    justify-content: center;
   
}
.userInfo{
    border: 1px solid rgb(180, 180, 180);
    margin: 50px;
    background-color: #ffffff;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    border-radius: 5px;
}
.userInfo img{
    height: 180px;
}
.userInfo p{
font-size: 20px;
padding: 50px 0;
color: grey;
}
.fa-star{
    color: yellow;
    font-size: 20px;
}
.LogoIcons{
    justify-content: center;
    margin-top: 150px;
}
.LogoIcons img{
    margin: 50px;
    height: 60px;
}
.Newsletter{
    justify-content: space-around;
    background-image: linear-gradient(to right, #034588, #D35088);
    width: 80%;
    margin: auto;
    padding: 30px;
    margin-top: 50px;
}
.subNews{
    font-size: 32px;
    color: #ffffff;
    margin: 0 30px;
    text-align: left;
}
.subInput{
    margin: 0 30px;
}
.subInput input{
    padding: 20px 100px 20px 10px;
    font-size: 20px;
    margin-right: 0;
    border-radius: 5px;
    border-style: none;
}
.subInput button{
    padding: 20px;
    font-size: 20px;
    margin-left: 0px;
    color: #ffffff;
    background-color: #24A6F0;
    border-radius: 5px;
    border-style: none;
}
.price{
    text-align: center;
    margin-top: 150px;
}
.price h2{
    font-size: 40px;
    color: #252B42;
    padding: 20px;
}
.price p{
    font-size: 24px;
    color: grey;
}
.free{
    border: 1px solid #24A6F0;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-right: 1px;
}
.offersCard{
    justify-content: center;
}
.free h2{
    font-size: 30px;
    color: #252B42;
    padding: 15px;
}
.free h3{
    font-size: 20px;
    color: grey;
    padding: 15px;
}
.dollar{
    font-size: 55px;
    color: #24A6F0;
}
.dollarsign{
    font-size: 24px;
    color: #24A6F0;
}
.freecentr{
    text-align: center;
}
.offers{
    font-size: 1.5em;
    line-height: 2em;
}
.fa-check-circle{
    color: #50C172;
    font-size: 20px;
}
.checkdiff{
    color: #BDBDBD;
}
.tryBtn button{
    padding: 15px 100px;
    font-size: 20px;
    background-color: #24A6F0;
    color: #ffffff;
    border-radius: 5px;
    margin: 50px auto;
    justify-content: center;
    border-style: none;
}
.standard{
    background-color: #252B42;
    align-items: center;
}
.standard h2, .standard h3, .standard p{
    color: #ffffff;
}
.branch{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}
.branch img{
    width: 550px;
    object-fit: contain;
    padding: 100px;
}
.branch h2{
    font-size: 40px;
    padding-bottom: 20px;
}
.branch p{
    font-size: 20px;
}
.branchcol{
    background-color: #252B42;
    margin-top: 100px;
    justify-content: center;
    height: 120vh;
}
.world{
    color: #ffffff;
    padding: 100px 150px;
}
form input, select, #submit{
    display: block;
    padding: 20px 200px 20px 20px;
    width: 90%;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 25px;
}
.contact-cov img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding-left: 0;

}
.contactForm{
    display: flex;
    flex-flow: row wrap;
    width: 60vw;
    background-color: #ffffff;
    justify-content: space-between;
    height: 80vh;
    transform: translate(0, 10vh);
   
}
.contactForm .contact-cov{
width: 30%;
padding-left: 0;
}
.formBook h3{
    text-align: center;
    font-size: 24px;
    color: #252B42;
    padding: 20px;
    margin: 20px;
}
label{
    font-size: 20px;
    font-weight: bold;
    color: #252B42;
}
#submit{
    text-align: center;
    background-color:#24A6F0;
    color: #ffffff;
    padding: 10px 220px;
}
.contUs button{
    padding: 15px 25px;
    font-size: 20px;
    margin-left: 0px;
    color: #ffffff;
    background-color: #24A6F0;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
}
.consAgency{
    margin-top: 60vh;
    justify-content: space-around;
}
.consAgency h2{
    color: #252B42;
    font-size: 32px;
}
.consAgency p{
    font-size: 20px;
    color: grey;
    padding: 10px 0;
}
.infoLinks{
    justify-content: space-evenly;
    padding: 50px;
    margin-top: 50px;
    background-color: #ffffff;
}
.infoCard h2{
    padding: 10px;
    color: #252B42;
}
.infoCard ul li{
    list-style-type: none;
    padding: 10px;
}
.infoCard ul li a{
    text-decoration: none;
    color: grey;
    font-size: 20px;
}
.infoCard i{
    color: #24A6F0;
    font-size: 20px;
}
footer{
    justify-content: space-around;
    font-size: 20px;
    padding: 25px 0;
}
footer p{
    color: grey;
}
footer i{
    padding: 0 5px;
    font-size: 20px;
   color: #24A6F0;
}
.socials{
    padding: 20px 0;
}
.search i{
    padding: 8px;
    color: grey;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width:480px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
    }
    .navigation{
        background-color: #ffffff;
        color: #252B42;
    }
     .nav ul li{
        display: block;
        text-align: center;
        padding: 10px 0;
        
    }
    .nav ul li a{
        color: grey;
    }
    .login{
        display: none;
    }
    .formBook{
        width: 100%;
    }
    .cards-1 div{
        margin: 25px auto;
    }
    .bg{
        height: auto;
    }
    .cards-1{
        transform: translate(0,0);
    }
    .userInfo{
        margin: 20px 50px;
    }
    .LogoIcons-a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .subNews{
        text-align: center;
    }
    .subInput button{
        padding: 10px;
        font-size: 20px;
    }
    .subInput input{
        padding: 10px;
        font-size: 20px;
        margin: 10px auto;
    }
    .price{
        margin: 50px 50px;
    }
    .free{
        margin: 20px 50px;
    }
    .world{
        padding: 50px 100px;
    }
    .branchcol{
        height: 100%;
    }
    .contactForm{
        transform: translate(0, 0);
        align-items: center;
        height: auto;
        width: auto;
    }
    .formBook{
        display: flex;
        width: 100%;
        margin: 20px 50px;
    }
    
    .contactForm .contact-cov{
     object-fit: contain;
     width: 100%;
     height: 50vh;
        }
    form input, select, #submit{
            padding: 20px 180px 20px 20px;
            width: 100%;
            margin-top: 25px;
            border-style: none;
        } 
    .consAgency{
        margin-top: 50px;
        padding-left: 100px;
    }
    .contUs{
        margin: 50px 0;
    }
    .infoCard{
        padding-left: 50px;
        margin-top: 30px;
    }
    footer{
        padding-left: 50px;
    }
    
}
