@media screen and (max-width:480px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 100%;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
    }
    .branchcol{
        display: block;
    }
    .contactForm{
        transform: translate(0,0);
    }
}